a.navbar-brand{
    color:black;
}

.main-content{
    padding:100px;
}

html, body{
    height:100%;
}
.header{
    text-align:center;
    padding:100px;
    background-color: rgb(125, 202, 95);
    color:white;
}

