{% extends "layout.html"%}
{% set active_page = "about" %}
{% block content %}
<div class="container p-5 mt-3">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <h1>About Me</h1>  
            <hr>
            <p>My name is Kendle Lam, and I'm a 16 year old high school senior. Here are some fun facts about me :) </p>
            <ul>
                <li><b>My favorite animal</b> is a dog.</li>
                <li><b>I wish I could live</b> in Russia.</li>
                <li><b>Something I love to do</b> is play games with my friends.</li>
                <li><b>I would love to meet</b> Olivia Smoliga.</li>
                <li><b>My favorite song is</b> Call Me Maybe - Carly Rae Jepsen</li>
            </ul>
            <p>I'm interested in learning about you, too! Head over to my <a href="{{ url_for('posts.blog') }}">blog</a> and post a comment so I can get to know you!</p>
        </div>
        <div class="col-lg-4 col-sm-6 mb-3">
            <img class="img-fluid" alt="Kendle Lam" title="Kendle Lam" src="{{ url_for('static', filename='about_image.jpg')}}">
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card" style="border-color:#2c7cb0">
                    <h5 class="card-title text-white card-header" style="background-color: #2c7cb0;">My Socials</h5>

                <ul class="list-group list-group-flush text-black">
                    <a href="mailto:kendle.lam@gmail.com" target="_blank" rel="noopener noreferrer"><li class="list-group-item"><i class="bi bi-envelope mr-3"></i></i>Email</li></a>
                    <a href="https://www.instagram.com/kendle.lam/" target="_blank" rel="noopener noreferrer"><li class="list-group-item"><i class="bi bi-instagram mr-3"></i>Instagram</li></a>
                    <a href="https://www.facebook.com/profile.php?id=100009412276691" target="_blank" rel="noopener noreferrer"><li class="list-group-item"><i class="bi bi-facebook mr-3"></i>Facebook</li></a>
                    <a href="https://twitter.com/LamKendle" target="_blank" rel="noopener noreferrer"><li class="list-group-item"><i class="bi bi-twitter mr-3"></i>Twitter</li></a>
                    <a><li class="list-group-item"><i class="bi bi-discord mr-3"></i>Discord: babykendle#2920</li></a>
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock%}