{% extends "layout.html"%}
{% set active_page = "blog" %}
{% block content %}
<div class="container-fluid h-100">
    <div class="row">
        <div class="col-lg-3 bg-light">
            <div class="sticky-top p-3">
                <div class="flex-column">
                    <div class="container">
                        <img id="circle-image" class="mx-auto d-block my-4" src="{{ url_for('static', filename='blog_profile.jpg') }}">
                        <h4 class="text-center">Kendle Lam</h4>
                        <div class="text-muted text-center">
                            {{posts.total}} Posts &#8226; Last posted {{posts.items[0].date_posted.strftime('%B %e, %Y')}}
                        </div>
                        <div class="p-4">
                            <p>Hi everyone, welcome to my blog!</p> 
                            <p>I've never really blogged before so don't expect polished articles!</p>
                            <p>Here I post about random
                                stuff from League guides (I'm qualified as a prestigious Platinum player) to my personal thoughts. If you have time drop a comment on a post! </p> 
                            <p>Happy reading!</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="col-lg-9 px-3">
            <a id="blogposts"></a>
            {% if current_user.is_authenticated %}
            <a class="btn btn-info mt-3" href="{{ url_for('posts.new_post') }}">New Post</a>
            {% endif %}
            {% for post in posts.items %}
            <a id="{{ post.id }}"></a>
            <div class="card my-3 flex-row">
                <div class="w-100">
                    <h3 class="card-title card-header">{{ post.title }}</h3>
                    <div class="card-body">
                        <p class="card-subtitle text-muted">{{ post.date_posted.strftime('%B %e, %Y') }}
                            {% if post.date_posted.strftime('%B %e, %Y') != post.last_updated.strftime('%B %e, %Y') %} |
                            <span> Last Updated on {{ post.last_updated.strftime('%B %e, %Y')}}</span>
                            {% endif %}
    
                        </p>
                        <div class="card-text mt-3 blog-text" >{{ post.content|safe }}</div>
                    </div>  
                </div>

               

                <a  href="{{ url_for('posts.post', post_id=post.id, blogpage=posts.page) }}" class="ml-auto">
                    <button class="btn rounded-1 h-100 stretched-link" style="background-color: #2c7cb0;">
                        <i class="bi bi-arrow-right text-white"></i>
                    </button>
                    
                </a>       
            </div>
            {% endfor %}
            <div class="d-flex justify-content-between">
                {% if posts.page != 1 %}
                <a class="btn btn-info mb-3" href="{{ url_for('posts.blog', page=posts.page-1, _anchor='blogposts')}}"><i class="bi bi-arrow-left"></i></a>
                {% else %}
                <a class="btn btn-info mb-3 invisible" href="#"><i class="bi bi-arrow-left"></i></a>
                {% endif %}
                <h4>Page {{posts.page}}/{{posts.pages}}</h4>
                {% if posts.page != posts.pages %}
                <a class="btn btn-info mb-3" href="{{ url_for('posts.blog', page=posts.page+1, _anchor='blogposts')}}"><i class="bi bi-arrow-right"></i></a>
                {% else %}
                <a class="btn btn-info mb-3 invisible" href="#"><i class="bi bi-arrow-right"></i></a>
                {% endif %}
                
            </div>
        </div>
    </div>
   
</div>


{% endblock%}