{% extends "layout.html"%}
{% set active_page = "contact" %}
{% block content %}

<div class="container p-3">
    <legend class="border-bottom mb-3">Contact Kendle!</legend>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        
        <div class ="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
        </div>      
        <div class ="form-group">
            {{ form.subject.label }}
            {{ form.subject(class="form-control") }}
        </div>     
        <div class ="form-group">
            {{ form.email.label }}
            {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
            {% else %}
                {{ form.email(class="form-control") }}
            {% endif %}
        </div>     
        <div class ="form-group">
            {{ form.message.label }}
            {{ form.message(class="form-control", rows=30) }}
        </div>    
        <div class ="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>        
    </form> 
</div>

<script src="https://cdn.tiny.cloud/1/x5xedkas9j5vinilvzforqrib3msdt54bsjq3r5x5hr2z53f/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
     tinymce.init({
  selector: '#message',
  height: 500,
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste code help wordcount'
  ],
  toolbar: 'undo redo | formatselect | ' +
  'bold italic backcolor | alignleft aligncenter ' +
  'alignright alignjustify | bullist numlist outdent indent | ' +
  'removeformat | help',
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
  setup: function (editor) {
    editor.on('change', function () {
        tinymce.triggerSave();
    });
}
});
</script>

{% endblock%}
