{% extends "layout.html"%}
{% block content %}
    <div class="container d-flex">
        <div class="row main-content">
            <div class="col-md-7 align-self-center">
                <h1>Hi there, I'm Kendle!</h1>  
                <p>Welcome to my website! I'm an average high school boy interested in computer science.</p>
                <p>In my free time, you'll find me playing League of Legends, reading political and economic articles, or playing piano. Nice to meet you! </p>    
                <p>Check out my <a href="#">blog</a> if you're interested in learning more about me :)</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid"src="{{ home_image }}">
            </div>
        </div>
    </div>
{% endblock%}