{% extends "layout.html"%}
{% set active_page = "index" %}
{% block content %}
    <div class="container p-5">
        <div class="row">
            <div class="col-md-7 align-self-center">
                <h1 class="py-3">Hi there, I'm Kendle! &#128075</h1>  
                <p>Welcome to my website! I'm an average high school boy interested in computer science.</p>
                <p>In my free time, you'll find me playing League of Legends, reading political and economic articles, or playing piano. Nice to meet you! </p>    
                <p>Check out my <a href="{{ url_for('posts.blog') }}">blog</a> if you're interested in learning more about me :)</p>
            </div>
            <div class="col-md-5 py-5 align-self-center">
                <img class="img-fluid" alt="Kendle Lam" title="Kendle Lam"src="{{ url_for('static', filename='homepic.jpg') }}">
            </div>
        </div>
    </div>

{% endblock%}